<div class="flex-container" fxLayout.xs="column" style="text-align: center;">
    <h2>Log in </h2>
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </p>
    
    <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Placeholder">
          
        </mat-form-field>
      </p>
      
      <button mat-button [routerLink]="['/heroes']" id="submit-btn">Submit</button> 

      <button mat-button [routerLink]="['/forgot-password']" id="forgot-btn">Forgot-Password</button>

      <button mat-button [routerLink]="['/create-profile']" id="newprofile-btn"> Create new Profile </button>
</div>
 