<div class="flex-container" fxLayout.xs="column">
    <h2>Forgot Password </h2>
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </p>
    <p>
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput placeholder="Placeholder">
          
        </mat-form-field>
      </p>
    

      <button mat-button [routerLink]="['/forgot-password']">Reset-Password</button>
</div>
 