
<router-outlet></router-outlet>
  <!--Material navbar-->
  
  <mat-toolbar >
   
    <mat-toolbar-row class="navbar"> 
      <a mat-list-item [routerLink]="'/home'"> <img [src]="logopath" >  </a>         
      <a mat-list-item [routerLink]="'/home'"> Home </a>
      <a mat-list-item (click)="sidenav.toggle()"[routerLink]="'/shopall'"> Shop </a>
      <a mat-list-item [routerLink]="'/faq'"> FAQ </a>
      <a mat-list-item [routerLink]="'/contactus'"> Contact Us </a>
      <a><input type="string" matInput placeholder="Search"></a>      
      <a mat-list-item [routerLink]= "'/cart'" > <mat-icon class="navbar-icon-cart">shopping_cart</mat-icon> </a>
      <a mat-list-item [routerLink]="'/login'" > <mat-icon class="navbar-icon-person">person</mat-icon></a>
    </mat-toolbar-row>    

  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="false" class="side-container">
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/shopall'"> Shop all </a> 
        <a mat-list-item [routerLink]="'/kidsclothing'"> Kids Clothing </a>
        <a mat-list-item [routerLink]="'/adultclothing'"> Adult Clothing </a> 
        <a mat-list-item [routerLink]="'/flasks'"> Flasks </a>
        <a mat-list-item [routerLink]="'/waterbottles'"> Water bottles </a>
        <a mat-list-item [routerLink]="'/mugs'"> Mugs </a>
        <a mat-list-item [routerLink]="'/glasses'"> Glasses </a>
        <a mat-list-item [routerLink]="'/notebooks'"> Notebooks </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content-container">
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
 
  <!-- Material Footer -->
  <footer>
      <h3>Contact Us: </h3>
      
      <table style="padding-left: 40%;">
        <tr>
          <td><img [src]="logopath" > </td>
          <td>Email: 
            Whatsapp:
            <br>
            Instagram :
            Facebook : 
          </td>
       
      </table>
  </footer>

 



