
<router-outlet></router-outlet>
  <!--Material navbar-->
  
  <mat-toolbar color="">
    <mat-toolbar-row>
      
      <h1>Angular II</h1>
      <a mat-list-item [routerLink]="'/home'"> Home </a>
      <a mat-list-item [routerLink]="'/shop'"> Shop </a>
      <a mat-list-item [routerLink]="'/faq'"> FAQ </a>
      <a mat-list-item [routerLink]="'/contactus'"> Contact Us </a>
      <a><input type="string" matInput placeholder="Search"></a>      
      
      <a mat-list-item [routerLink]="'/login'"> <mat-icon>person</mat-icon></a>
      <a mat-list-item [routerLink]= "'/cart'"> <mat-icon>shopping_cart</mat-icon> </a>
    </mat-toolbar-row>    

  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="true" class="side-container">
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/shopall'"> Shop all </a> 
        <a mat-list-item [routerLink]="'/kidsclothing'"> Kids Clothing </a>
        <a mat-list-item [routerLink]="'/adultclothing'"> Adult Clothing </a> 
        <a mat-list-item [routerLink]="'/flasks'"> Flasks </a>
        <a mat-list-item [routerLink]="'/waterbottles'"> Water bottles </a>
        <a mat-list-item [routerLink]="'/mugs'"> Mugs </a>
        <a mat-list-item [routerLink]="'/glasses'"> Glasses </a>
        <a mat-list-item [routerLink]="'/notebooks'"> Notebooks </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content-container">
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
 
  <!-- Material Footer -->
  <footer>
      Love Angular?&nbsp;
      <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Give our repo a star.
        <div class="github-star-badge">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          Star
        </div>
      </a>
      <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </a>
  </footer>

 



