<h1>It's Personal</h1>
<div class="homecontainer">
    <div>
        <h2>Best Sellers</h2>
        <div class="flex-container" fxLayout.xs="column">
            <div class="flex-item">1</div>
            <div class="flex-item">2</div>
            <div class="flex-item">3</div>
            <div class="flex-item">4</div>
            <div class="flex-item">5</div>
            <div class="flex-item">6</div>
        </div>
    </div>
    
    <div>
        <img>
        <h2>About Us</h2>
        <p>
            It’s Personal was founded in 2022 by us! Predisha and Kuvashan Mandrie. <br>
            Following our wedding in 2021, Predisha saw how special personalised made her and her fellow teachers feel special and appreciated. <br>
            We saw a need for personalising stationary and mugs for her fellow teachers and we 
            decided to start a product personalisation business. <br>
            For us this is more than just a side business it's a passion project for the love of making others feel special

        </p>
    </div>
    
    <div>
        <h2>Subscribe to our list!!</h2>
        <p>Drop us your email below to officially become a part of the It's Personal family.</p>
        <input type="email" matInput placeholder="Email"><mat-icon>arrow_forward</mat-icon>
    </div>
</div>



