<body>
    <h1>It's Personal</h1>
    <div class="homecontainer">
        <div>
            <h2>Best Sellers</h2>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" id= "best-seller-img" >
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" id= "best-seller-img">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" id= "best-seller-img">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" id= "best-seller-img">
            
            <!--<div class="grid-container">
                <div fxLayout="row wrap" fxLayoutGap="16px grid">
                  <div fxFlex="25%" *ngFor="let num of [1,2,3,4]">
                    <mat-card class="mat-elevation-z4" >
                      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                    </mat-card>
                  </div>-->
        </div> <br>
        
        <div class="homecontainer">
            <img>
            <h2>About Us</h2>
            <p>
                It’s Personal was founded in 2022 by us! Predisha and Kuvashan Mandrie. <img>
                
                Following our wedding in 2021, Predisha saw how special personalised made her and her fellow teachers feel special and appreciated. <br>
                We saw a need for personalising stationary and mugs for her fellow teachers and we 
                decided to start a product personalisation business. <br>
                For us this is more than just a side business it's a passion project for the love of making others feel special
    
            </p>
        </div><br>
        
        <div class="homecontainer">
            <h2>Subscribe to our list!!</h2>
            <p>Drop us your email below to officially become a part of the It's Personal family.</p>
            <input type="email" matInput placeholder="Email"><mat-icon>arrow_forward</mat-icon>
        </div>
    </div>





